{
  "singleQuote": true,
  "trailingComma": "all",
  "[typescript]": {
    "editor.codeActionsOnSave": {
        "source.fixAll.eslint": true,
        "source.organizeImports": true
    },
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  }
}